<div class=" nav-bar">
    <img src="https://png.pngtree.com/png-clipart/20220719/original/pngtree-ganapati-meditation-in-lotus-pose-png-image_8385522.png" class="logo"
        alt="" />
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Planes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contáctanos</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="#">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" aria-current="page" href="#">Ingresar</a>
        </li>
    </ul>
</div>