<div class="schedule-appointment-nutrition">
    <div class="contact-title">
        <h2>¿Tienes dudas sobre tu alimentación?</h2>
        <p>Contacta a un experto</p>
    </div>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Número de celular</label>
            <input type="text" class="form-control" id="inputPhoneNumber">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Elige a un nutricionista</label>
            <select id="inputState" class="form-select">
                <option selected>Nutricionista</option>
                <option value="1">Nombre nutricionista</option>
                <option value="2">Nombre nutricionista</option>
                <option value="3">Nombre nutricionista</option>
            </select>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-1">
                <span class="input-group-text" id="inputGroup-sizing-default">Tema</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Agendar</button>
        </div>
    </form>
</div>
