<div class="grid-container">
  <div class="grid-item-2">
    <div id="content-container">
      <div class="introduction">
        <h2 class="yogasection-title">YOGA</h2>
        <p>
          La mejor manera de ejercitar el alma y el cuerpo es a través del yoga
        </p>
        <iframe
          class="yoga-explanation"
          src="https://www.youtube.com/embed/Rxd9pDZqZcU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="grid-item-3">
    <div id="content-container-1">
      <div class="content-1">
        <div class="title">
          <h2>CLASES EN PROGRESO</h2>
        </div>
        <div class="carousel">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/kVPnQVSGpGQ"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Yoga básico</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        src="https://www.youtube.com/embed/qrjGikCl46g"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">
                          Yoga para conectar con el amor
                        </h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/CPjhyTWNUI4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Ejercicios de estiramiento</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/H3KpbShM-wI"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Yoga para dormir</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/KoTp4C0zSTg"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Yoga para la mañana</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/1DPR81WPW3c"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Vinyasa Yoga</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/CPjhyTWNUI4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Ejercicios de estiramiento</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <iframe
                        class="video"
                        src="https://www.youtube.com/embed/StQiMTslmdE"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                      <div class="card-body">
                        <h5 class="card-title">Yoga slow para el estrés</h5>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-secondary">Seguir viendo</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span aria-hidden="true"></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-caret-left-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
              />
            </svg>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span aria-hidden="true"></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-caret-right-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              />
            </svg>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item-4">
    <div class="content-container-2">
      <div class="content-2">
        <div class="title">
          <h2>TUS INSTRUCTORES</h2>
        </div>
        <div class="instructor-cards row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let instructor of instructores">
            <div class="card">
              <img
                src="{{ instructor.img }}"
                class="card-img-top"
                alt="Imagen instructor/a"
              />
              <div class="card-body">
                <h5 class="card-title">{{ instructor.name }}</h5>
                <p class="card-text">
                  {{ instructor.description }}
                </p>
              </div>
              <div class="card-footer">
                <div
                  class="btn-group me-2"
                  role="group"
                  aria-label="Second group"
                >
                  <button type="button" class="btn btn-secondary">
                    Ir a clases
                  </button>
                  <button type="button" class="btn btn-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-star"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item-5">
    <div class="grid-subitem-1">
      <div class="content-container-3">
        <div class="title">
          <h2>TÉCNICAS</h2>
        </div>
        <div class="card mb-3" *ngFor="let tecnica of tecnicas">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="{{ tecnica.img }}"
                class="img-fluid rounded-start"
                alt="HathaYoga"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ tecnica.name }}</h5>
                <p class="card-text">
                  {{ tecnica.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-subitem-2">
      <div class="title">
        <h2>AGENDA UNA CITA CON TU INSTRUCTOR/A</h2>
      </div>
      <div class="schedule-appointment">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label"
              >Correo electrónico</label
            >
            <input type="email" class="form-control" id="inputEmail4" />
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">Número de celular</label>
            <input type="text" class="form-control" id="inputPhoneNumber" />
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label"
              >Elige el instructor</label
            >
            <select id="inputState" class="form-select">
              <option selected>Instructor/a</option>
              <option value="1">Malova Elena</option>
              <option value="2">Andrea Chehebar</option>
              <option value="3">Jesús Duque</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label"
              >Fecha y horas disponibles</label
            >
            <select id="inputState" class="form-select">
              <option selected>DD/MM/AAAA 00:00</option>
              <option value="1">28/02/2022 1:00PM</option>
              <option value="2">28/02/2022 2:00PM</option>
              <option value="3">28/02/2022 3:00PM</option>
            </select>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-secondary">Agendar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
