<div class="grid-container">
    <div class="grid-item-1">
        <div id="sidebar-container">
            <div class="title">
                <h4>Mindful wellness</h4>
            </div>
            <div class="menu">
                <div class="item input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <a href="#" class="items btn btn-secondary d-block"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                        <path
                            d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                        <path
                            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                    </svg>
                    Instructores
                </a>
                <a href="#" class="items btn btn-secondary d-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-columns-gap" viewBox="0 0 16 16">
                        <path
                            d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z" />
                    </svg>
                    Técnicas
                </a>
            </div>
        </div>
    </div>
    <div class="grid-item-2">
        <div class="background-image"></div>
        <div id="content-container">
            <div class="introduction">
                <h2 class="yogasection-title">YOGA</h2>
                <p>
                    La mejor manera de ejercitar el alma y el cuerpo es a través del yoga
                </p>
                <iframe class="yoga-explanation" width="560" height="315"
                    src="https://www.youtube.com/embed/Rxd9pDZqZcU" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="grid-item-3">
        <div id="content-container-1">
            <div class="content-1">
                <div class="title">
                    <h2>CLASES EN PROGRESO</h2>
                </div>
                <div class="carousel">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row row-cols-1 row-cols-md-4 g-4">
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/kVPnQVSGpGQ"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This content is
                                                    a little bit longer.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/1DPR81WPW3c"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This card has supporting text below as a natural
                                                    lead-in to additional content.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/CPjhyTWNUI4"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This card has
                                                    even longer content than the first to show that equal
                                                    height action.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/1DPR81WPW3c"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This card has supporting text below as a natural
                                                    lead-in to additional content.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row row-cols-1 row-cols-md-4 g-4">
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/kVPnQVSGpGQ"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This content is
                                                    a little bit longer.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/1DPR81WPW3c"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This card has supporting text below as a natural
                                                    lead-in to additional content.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/CPjhyTWNUI4"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This is a wider card with supporting text below as a
                                                    natural lead-in to additional content. This card has
                                                    even longer content than the first to show that equal
                                                    height action.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <iframe class="video" src="https://www.youtube.com/embed/1DPR81WPW3c"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">
                                                    This card has supporting text below as a natural
                                                    lead-in to additional content.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="#" class="btn btn-secondary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span aria-hidden="true"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path
                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                        </svg>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span aria-hidden="true"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-4">
        <div class="content-container-2">
            <div class="content-2">
                <div class="title">
                    <h2>TUS INSTRUCTORES</h2>
                </div>
                <div class="instructor-cards row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="https://cdnx.jumpseller.com/dhanayoga/image/3849894/7.jpg?1534117603"
                                class="card-img-top" alt="MalovaElena" />
                            <div class="card-body">
                                <h5 class="card-title">Malova Elena</h5>
                                <p class="card-text">
                                    Hola, soy Elena Malova, instructora de Vinyasa Yoga,
                                    bienvenid@s a las clases dedicadas al desarrollo de la
                                    conexión entre cuerpo y mente y consciencia en cada movimiento
                                    Muchas gracias por su apoyo y la energía, abrazos, namaste!
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://108yogacolombia.com/wp-content/uploads/2021/04/Andrea-chehebar-1.jpg"
                                class="card-img-top" alt="AndreaChehebar" />
                            <div class="card-body">
                                <h5 class="card-title">Andrea Chehebar</h5>
                                <p class="card-text">
                                    Certificada con el Yoga Alliance como E-RYT, Andrea incursionó
                                    en la practica del yoga hace 16 años. Tuvo la oportunidad de
                                    recibir la sabiduría de diferentes reconocidos profesores que
                                    la han inspirado para encontrar su propio camino en el yoga,
                                    entre ellos(as) : Emilia Arenas, Paul Tulouszis , Tim Feldman,
                                    Kino...
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://108yogacolombia.com/wp-content/uploads/2021/04/jesus-duque-108-yoga-2.jpg"
                                class="card-img-top" alt="JesusDuque" />
                            <div class="card-body">
                                <h5 class="card-title">Jesús Duque</h5>
                                <p class="card-text">
                                    Desde el año 2014 comenzó a dictar clases en los mejores
                                    estudios de yoga de Bogotá (Natural Yoga,Yoga Studio, Neutra
                                    Bienestar, entre otros), en empresas y a dar clases
                                    personalizadas. En Octubre de 2018 se muda de Bogotá a
                                    Medellín donde su intención es seguir compartiendo su práctica
                                    y experiencia para crecer como persona y profesor.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://108yogacolombia.com/wp-content/uploads/2022/01/WhatsApp-Image-2022-01-12-at-4.37.52-PM-1024x1024.jpeg"
                                class="card-img-top" alt="KaroMoreno" />
                            <div class="card-body">
                                <h5 class="card-title">Karo Moreno</h5>
                                <p class="card-text">
                                    Lleva años explorando diferentes estilos de yoga,
                                    perfeccionando su práctica en multiples talleres con
                                    reconocidos profesores. Se certificó con el maestro Esteban
                                    Salazar en el teacer training de 200 horas de 108 yoga.
                                    Actualmente comparte su pasión por el yoga en sus clases
                                    llenas de carisma y dedicación, donde se enfoca en sacar lo
                                    mejor de cada alumno según su nivel y capacidad.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://108yogacolombia.com/wp-content/uploads/2021/04/angela-vanegas-108-yoga.jpg"
                                class="card-img-top" alt="AngelaVanegas" />
                            <div class="card-body">
                                <h5 class="card-title">Ángela Vanegas</h5>
                                <p class="card-text">
                                    Su amor por enseñar y entrega se transmiten en sus clases de
                                    Vinyasa Yoga, Yoga Prenatal y Yogaterapia, donde integra sus
                                    conocimientos de diferentes estilos y años de experiencia.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://108yogacolombia.com/wp-content/uploads/2021/04/ivan-moreno-108-yoga.jpg"
                                class="card-img-top" alt="IvanMoreno" />
                            <div class="card-body">
                                <h5 class="card-title">Iván Moreno</h5>
                                <p class="card-text">
                                    Desde los 18 años empieza a estudiar tradiciones orientales y
                                    conoce el Yoga. Se certifica como profesor de Yoga Integral
                                    por medio de la Federación Internacional de Yoga. Complementa
                                    su estudio con cursos y practicas enfocadas en el Power Yoga y
                                    estilos dinámicos.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">Ir a clases</button>
                                    <button type="button" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-5">
        <div class="grid-subitem-1">
            <div class="content-container-3">
                <div class="title">
                    <h2>TÉCNICAS</h2>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.shape.com/thmb/bqrjc9pwWUEnPqS88TS2bCuRDyY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/hatha-yoga-promo-35d5d3b2e1284d09ba6c5752b82bef5b.jpg"
                                class="img-fluid rounded-start" alt="HathaYoga">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.shopify.com/s/files/1/0077/7587/9266/articles/kundalini-yoga-art-lotuscrafts_4514ec10-c77f-4dbf-b1ff-4e060c4e8b92_600x600_crop_center.jpg?v=1552925943"
                                class="img-fluid rounded-start" alt="Kundalini">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.cuerpomente.com/medio/2021/04/08/yoga-terapeutico_451e68dc_1200x1200.jpg"
                                class="img-fluid rounded-start" alt="YogaTerapeutico">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-subitem-2">
            <div class="title">
                <h2>AGENDA UNA CITA CON TU INSTRUCTOR/A</h2>
            </div>
            <div class="schedule-appointment">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Número de celular</label>
                        <input type="text" class="form-control" id="inputPhoneNumber">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Elige el instructor</label>
                        <select id="inputState" class="form-select">
                            <option selected>Instructor/a</option>
                            <option value="1">Malova Elena</option>
                            <option value="2">Andrea Chehebar</option>
                            <option value="3">Jesús Duque</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Fecha y horas disponibles</label>
                        <select id="inputState" class="form-select">
                            <option selected>DD/MM/AAAA 00:00</option>
                            <option value="1">28/02/2022 1:00PM</option>
                            <option value="2">28/02/2022 2:00PM</option>
                            <option value="3">28/02/2022 3:00PM</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Agendar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>