<div class="recipees-container">
    <div class="title">
            <h2>RECETAS</h2>
            <p>En esta sección podrás encontrar videos guía para realizar espectaculares recetas</p>
        </div>
    <div id="content-container-1">
        <div class="subtitle">
            <h3>Recetas saladas</h3>
        </div>
        <div class="carousel">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/mEPguZIQsaA"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">7 ideas para el desayuno</h5>
                                        <p class="card-text">
                                            En este video encontrarás ideas fáciles y saludables de desayuno para cada
                                            día de la semana.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/sW8lZme4-Hw"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Almuerzos para llevar veganos</h5>
                                        <p class="card-text">
                                            Deliciosas ideas de almuerzos para llevar o comer en casa de manera sana y
                                            equilibrada.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/U0Y4oErCkY8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">1 semana de comidas veganas y saludables</h5>
                                        <p class="card-text">
                                            Ideas de comidas para la semana veganas que te ayudarán a equilibrar tu
                                            alimentación.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/pyqXZ4mtNjk"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">3 recetas veganas, fáciles y rápidas</h5>
                                        <p class="card-text">
                                            Aprende a comer a base de plantas, aquí te damos algunas ideas para comenzar.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/yj_Lro89mIw"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">3 recetas de pastas veganas</h5>
                                        <p class="card-text">
                                            Aprende a variar tu alimentación de manera vegana con estas tres simples
                                            recetas.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/OG7r6jRddzI"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Croquetas de gluten con chorizo vegano</h5>
                                        <p class="card-text">
                                            Una comida típica española veganizada porque para ser vegano no necesitas
                                            cambiar tu alimentación, solo hacerlo de manera consciente.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/7P9Kh4-lQt4"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">4 ideas de burritos veganos</h5>
                                        <p class="card-text">
                                            4 recetas deliciosas, sanas y nutritivas para llevar o comer en casa.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/0ZCABwrOzy8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Mechada vegana</h5>
                                        <p class="card-text">
                                            Aprende a hacer carne desmechada estilo "pulled pork" de manera vegana y
                                            saludable.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="content-container-2">
        <div class="subtitle">
            <h3>Recetas dulces</h3>
        </div>
        <div class="carousel">
            <div id="carouselExample2" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/8lkNmF_Ot8o"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Cheesecake vegano sin horno</h5>
                                        <p class="card-text">
                                            Aprende a hacer un cheesecake vegano desde 0, sorprende a tus conocidos con este increible postre sin lácteos.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/pDFZN1wieeM"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Brownie vegano</h5>
                                        <p class="card-text">
                                            Alimenta tu espíritu con estos deliciosos brownies veganos bajos en azúcar.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/WSH81S-1mKA"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Pastel de fresas vegano</h5>
                                        <p class="card-text">
                                            Este delicioso pastel con crema vegetal y muchas fresas te encantará, dale un gusto a tu cuerpo.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/WMCEYdDWNa0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Bombones de chocolate caseros</h5>
                                        <p class="card-text">
                                            Unos deliciosos bombones de chocolate casero, el chocolate es conocido por sus múltiples beneficios para la salud física y mental.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/syvDUgzdG88"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Postres fáciles y saludables</h5>
                                        <p class="card-text">
                                            ¿tienes antojo de dulce? prueba una de estas recetas sin horno, sin azúcar y sin gluten.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/sU47ZQIoBEk"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Postre de 3 leches saludable</h5>
                                        <p class="card-text">
                                            Una idea deliciosa de postre que demuestra que comer sano no es sinónimo de castigo, es sinónimo de cuidarse comiendo delicioso.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/Dl8vD6JfZIs"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Sandwich de helado</h5>
                                        <p class="card-text">
                                            Deleitate con este delicioso helado con solo 3 ingredientes, comer helado nunca había sido tan rico.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <iframe width="100%" src="https://www.youtube.com/embed/9TOTwVlvc3k"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Tarta vegana de limón</h5>
                                        <p class="card-text">
                                            Aprende a realizar un increíble postre sin horno, fácil, económico, saludable y vegano.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="btn btn-secondary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                <span aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                <span aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>