<body>
  <header>
    <div class="barra-usuario">
      <h4>¡Hola, Usuario!</h4>
    </div>
    <h2 class="titulo-progreso">Cursos en progreso</h2>
  </header>

  <section class="seccion-progreso">
    <div class="cursos-progreso">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/zHAaZVdAUC4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: nutrición</p>
      <P>Progreso del curso:</P>
      <div class="barra-curso">
        <div class="barra-progreso-curso"></div>
      </div>
      <button class="boton-curso">Continuar viendo</button>
    </div>
    <div class="cursos-progreso">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/9VaCjYt6kTw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: meditación</p>
      <P>Progreso del curso:</P>
      <div class="barra-curso">
        <div class="barra-progreso-curso"></div>
      </div>
      <button class="boton-curso">Continuar viendo</button>
    </div>
    <div class="cursos-progreso">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/mcTxP5KKuTg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: principios del mindfulness</p>
      <P>Progreso del curso:</P>
      <div class="barra-curso">
        <div class="barra-progreso-curso"></div>
      </div>
      <button class="boton-curso">Continuar viendo</button>
    </div>
  </section>
  <div class="titulo-container">
    <h2 class="titulo-adquiridos">Cursos adquiridos</h2>
  </div>
  <hr />

  <section class="seccion-adquiridos">
    <div class="cursos-adquiridos">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/a01D1PzTVFc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: yoga</p>
      <P>Progreso del curso:</P>

      <button class="boton-curso-adquirido">Ingresar</button>
      <button class="boton-curso-adquirido">Calificar</button>
    </div>
    <div class="cursos-adquiridos">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/3aj0X1kfjlA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: control de las emociones</p>
      <P>Progreso del curso:</P>

      <button class="boton-curso-adquirido">Ingresar</button>
      <button class="boton-curso-adquirido">Calificar</button>
    </div>
    <div class="cursos-adquiridos">
      <iframe
        width="250"
        height="280"
        src="https://www.youtube.com/embed/ziLEFdqHnRI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Curso: conectar conmigo mismo</p>
      <P>Progreso del curso:</P>

      <button class="boton-curso-adquirido">Ingresar</button>
      <button class="boton-curso-adquirido">Calificar</button>
    </div>
  </section>
</body>
