.login-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: transparent; */
    background-image: url("https://images.unsplash.com/photo-1610338732118-09d3b6fd030c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
    background-size: cover;
    display: flex;
}

.login {
    /* border: 1px solid red; */
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem grey;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.form-login input {
    margin: 1rem auto;
    width: 40%;
    padding: 0.5rem;
    border-radius: 1rem;
}

.form-login button {
    width: 30%;
    margin: 1rem auto;
    border-radius: 1rem;
}

.form-logins {
    width: 100%;
    margin-top: 1.5rem;
}

.login a {
    text-decoration: none;
}