<main>
    <div id="information">
        <h1>ENCUENTRA TU EQUILIBRIO</h1>
        <button class="buttonRead btn btn-secondary glow-on-hover">Descubre más</button>
    </div>
    <div class="couches">
        <div class="title">Nuestros expertos</div>
    <div class="couch">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1593164842264-854604db2260?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button>Ver mas</button>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2016/08/02/16/32/coach-1563998_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button>Ver mas</button>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9jdG9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button>Ver mas</button>
        </div>
    </div>
    </div>

    <div class="location">
        <h3>Ubicación</h3>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.483914708423!2d-75.58145678523096!3d6.19970939551186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827ce55554cf%3A0xab8ed474ed2c00a9!2sUniversidad%20EAFIT!5e0!3m2!1ses!2sco!4v1676433863138!5m2!1ses!2sco" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>
