.aboutus {
    display: flex;
}

.section-second {
    width: 100%;
    margin: auto 4rem;
    background-image: url('https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 40%;
    border-radius: 20rem;
}

.img-logo {
    width: 40%;
    border: 1px solid red;
    /* height: 100vh; */
    text-align: center;
    padding: 2.7rem 0;
}

main h1 {
    text-align: center;
    padding: 4rem 1rem;
    font-family: var(--main-font-family);
}

main {
    background-color: var(--body-color);
    padding: 2rem 0;
}

.accordion-item {
    background-color: transparent;
    color: white;
}

.accordion-item button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
}
