<main>
  <div class="container">
    <div class="info-arbol">
      <h1>Árbol de la vida</h1>
      <p>
        Este árbol de la vida será tu medidor de progreso, decidimos que fuera
        un árbol porque esto representa lo que estás sembrado para un futuro,
        que es algo tan importante como tu bienestar físico y mental, y a medida
        que vayas finalizando cursos, planes de alimentación o concretes
        asesorías con nuestros expertos recibirás puntos de experiencia (gotas
        de agua) que llenaran la barra de experiencia (agua), y junto con esto
        el árbol irá creciendo progresivamente.
        <br />
        contamos con un sistema de recompensa para los usuarios que logren que
        el árbol vaya creciendo hasta cierto punto, recibirán recompensas como
        descuentos en cursos, asesorías o recetarios gratis para que sigan
        cuidando de su bienestar.
        <br />
        <br />
        ¡Ten cuidado!
        <br />
        Si después de un tiempo no obtienes tu experiencia (gotas de agua) la
        barra de experiencia (agua) se irá reduciendo y tu árbol comenzará a
        marchitarse y reducir su tamaño, pero descuida, en cuanto retomes y
        consigas algunos puntos de experiencia (gotas de agua) tu árbol se
        recuperará y florecerá de nuevo!
      </p>
    </div>
    <div class="arbol-container">
      <div class="arbol"></div>
      <h4 class="titulo">Tú árbol actual</h4>
      <div class="arbol-actual"></div>
      <div class="progreso-arbol">
        <div class="icono">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="currentColor"
            class="bi bi-droplet-half"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"
            />
            <path
              fill-rule="evenodd"
              d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"
            />
          </svg>
          <h4>Nivel 4</h4>
          <p>Próximo nivel 5 (recompensa: 15% en cursos de nutrición)</p>
        </div>
        <div
          class="progress"
          id="barra-progreso"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: 75%"
          >
            75%
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
