<div class="recetario-container">
  <div class="recetario-title">
    <h2>Recetarios</h2>
    <p>
      En esta sección encontrarás recetarios digitales en formato PDF con
      deliciosas <br />
      recetas. Descarga un recetario y comienza a equilibrar tu salud.
    </p>
  </div>
  <div class="container">
    <div class="beakfast-container">
      <p class="container-text">Desayunos</p>
    </div>
    <div class="desserts-container">
      <p class="container-text">Postres</p>
    </div>
    <div class="bowls-container">
      <p class="container-text">Bowls</p>
    </div>
    <div class="lunch-container">
      <p class="container-text">Almuerzos</p>
    </div>
    <div class="meals-container">
      <p class="container-text">Cenas y comidas de sal</p>
    </div>
  </div>
</div>
