@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");

:root {
  --header-footer-color: #354f52;
  --body-color: #84a98c;
  --header-footer-letter: #cad2c5;
  --secondary-color: #52796f;
  --secondary-button-background: #253638;
  --cards-background: #9cb6a2;
  --body-letters: #2f3e46;
  --main-font-family: "Roboto", sans-serif;
  --header-title-family: "Julee", cursive;
  --main-font-size: 16px;
}
