.row {
  display: flex;
  justify-content: space-between;
  margin: 3% 10% 3% 10%;
}

.card {
  width: 100%;
  height: 100%;
  background-color: var(--cards-background);
}

.btn {
  background-color: var(--secondary-button-background);
  border: none;
}

.btn:hover {
  background-color: var(--secondary-color);
  border: none;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.plans-header {
  background-image: url(../../../assets/img/plans-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.plans-header h1 {
  color: whitesmoke;
}

h1 {
  color: black;
  display: grid;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.plans-container .row {
  display: flex;
  justify-content: space-between;
  margin: 3% 40% 3% 25%;
}

.plans-container .card {
  text-align: center;
  padding-top: 2%;
}

h2 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.courses-header {
  background-image: url(../../../assets/img/courses.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.card img {
  width: 100%;
  height: 100%;
}
