<body>
  <div class="titulo">
    <h2>Servicios</h2>
    <p>
      Nuestra empresa cuenta con expertos de alta calidad que irán guiando tu
      proceso de desarrollo personal y guíandote en una vida más sana
    </p>
  </div>
  <div class="container">
    <div class="caja-recursos">
      <p class="texto-cajas">Recursos</p>
    </div>
    <div class="caja-eventos">
      <p class="texto-cajas">Eventos</p>
    </div>
    <div class="caja-asesorias">
      <p class="texto-cajas">Asesorías</p>
    </div>
    <div class="caja-clases">
      <p class="texto-cajas">Clases de yoga</p>
    </div>
    <div class="caja-nutricion">
      <p class="texto-cajas">Nutrición saludable</p>
    </div>
  </div>
</body>
